.icon-profile{
    width: 48px;
    height: 48px;
}

.settings-button{
    height: 48px;
    width: 48px;
    --border-radius: 14px;
    --color: default;
    --border-color: #DEDEDE;
    max-width: 50%;
}

.settings-button-ion-icon{
    font-size: 24.5px;
}
