.card-class ion-card-title,ion-card-subtitle {
    margin: 0;
    padding: 0px 0px;
}

.card-class-icon{
    width: 50px;
    height: 50px;
}

.card-class-info{
    display: flex;
    align-items: center;
    width: 100%;
}

.card-class-info > ion-card-header{
    width: 100%;
}

.card-class-header{
    display:flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
}

.card-class-header > ion-card-content{
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.card-class-highlight{
    background-color: black;
}

ion-card.main-card:hover{
    cursor: pointer;
}

.header-container{
    display:flex;
    gap: 1px;
}

.chip-div {
    display: flex;
    gap: 3px;
}

.chip-div ion-chip{
    margin:0;
    font-size: 0.85em;
}

@media screen and (max-width: 640px){
    .title-text{
        font-size: 1.25em;
    }
    .card-class-icon {
        display:none;
    }
}
